
.footer-bar{
    position:fixed;
    bottom: 0;
    left:0px;
    height:50px;
    border-radius:3px;
    overflow:hidden;
    background:rgb(161, 161, 161);
    box-shadow:0px 0px 10px rgba(0,0,0,.5);
    transition:all .5s ease;
    
    
    &>*{
        float:left;
    }

    &__toggle{
        display:block;
        cursor:pointer;
        opacity:0;
        margin:0;
        width:50px;
        height:50px;
        position:fixed;
        bottom:0;
        left:0;

        &:checked~ul{
            width:318px;
            background-position:0px -50px;
        }

        &:checked .footer-bar__list {
            margin:0;
            padding:0 0 0 50px;
            height:50px;
            width:10px;
            transition:.5s width ease;
            background-image: url("../img/toggle-icon2.png");
            background-position: center;
            background-repeat:no-repeat;
            background-position:10px 15px;
        }
    }    

    &__list {
        list-style-type:none;
        margin:0;
        padding:0 0 0 50px;
        height:50px;
        width:10px;
        transition: 1s width ease;
        background-image:url("../../img/toggle-icon1.png");
        background-position: center;
        background-repeat:no-repeat;
        background-position:10px 15px;
    }

    &__item {
        display:inline-block;
        line-height:50px;
        width:4.5em;
        text-align:center;
        margin:0;
    }

    &__link {
        
        font-weight:bold;
        color:rgb(255, 253, 253);
        text-decoration:none;
    }

    &__link:hover {
        color: rgb(153, 153, 153);
    }
}


