.section-carrito {
    padding: 5px;
    user-select: none;
    overflow: auto;
    display: none;
    position: fixed;
    background-color: white;
    z-index: 1;
    top: 150px;
    left: 150px;
    right: 150px;
    bottom: 150px;
    box-shadow: .3em .3em 10em .3em rgba(0, 0, 0, 1);

    &--visible {
        display: block;
    }
}

table {
    padding: 2em;
    margin: 0 auto;
}

button.btn__enviarCarrito {
    float: right;
    margin: 15px;
    width: 100px;
    height: 35px;
    font-size: 1.1em;
    font-weight: bold;
}